<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/font') %>
        <meta charset="UTF-8">
        <title>Signup</title>
        <link rel="stylesheet" href="/stylesheets/signup.css">
        

</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="container-signup">
            <div class="container">
                <h2 id="form-title">SignUp</h2>
                <form id="auth-form" action="/user/signup" method="post">
                    <input type="text" name="fullname" id="fullname" placeholder="Username" required />
                    <input type="text" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required />
                    <button type="submit">Submit</button>
                </form>
                <p id="toggle-message">Already have an account? <a href="signin" id="toggle-link">Sign In</a></p>
                <div id="message"></div>
            </div>
        </div>

        <script type="module" src="/public/scripts/signup.js"></script>
</body>

</html>